<div class="bg-light m-5 p-2 border border-primary border-2">
    <div class="">
        <strong><%= restaurant.name %></strong>
            <br>
            Cuisine Style: <%= restaurant.cuisine %>
            <br>
            Borough: <%= restaurant.borough %>
            <br>
        
    </div>
    
    <div><a href="/addRestaurant/<%= restaurant['_id'] %>">(add to your list)</a></div>

</div>

<hr>

<pre>
    <%= JSON.stringify(restaurant,null,5) %>
</pre>
-->